body{
    color: blue;
}

#p1{
    background-color: black;
}

#p2{
    background-color: darkgrey;
}

#p3{
    background-color: darkgreen;
}

#p4{
    background-color: crimson;
    font-style: italic;
}