@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1 align ="center">@ViewData["Title"]</h1>

<p align="center">Ainda não temos políticas de privacidade!</p>
<p align="center"><img src="https://indyme.com/wp-content/uploads/2016/04/coming-soon.png"/></p>
