@{
    ViewData["Title"] = "Home Page";
}

<div id="Titulo">
    <h1 class="display-4">MART</h1>
    <p>Sistemas para automação comercial.</p>
</div>

<div id="HCarrosel" class="container">

    <div id="meu_slideshow" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#meu_slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#meu_slideshow" data-slide-to="1"></li>

        </ol>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="css/Code3.png" alt="imag1" style="max-height: 550px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Códigos seguros e otimizados!</h5>
                    <p>Com nossos códigos você póde otimizar suas funções e ficar tranquilo</p>
                </div>
            </div>


            <div class="carousel-item">
                <img src="css/Code2.png" alt="imag2" style="max-height: 550px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Contrate nosso serviço de suporte avançado!</h5>
                    <p>Nosso serviço de suporte avançado oferece suporte 24 horas por dia!</p>
                </div>
            </div>



        </div>

        <a class="carousel-control-prev" href="#meu_slideshow" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#meu_slideshow" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Posterior</span>

        </a>

    </div>

</div>
